@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-family: var(--font-inter);
}

body {
  color: rgb(var(--foreground-rgb));
  background: #e8eaeb;
}
body::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #060606;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #500724;
}
.active{
  color: #EAB308;
}

.gouteurs{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../public/assets/images/gouteurs.jpg');
}